alembic
azure-common
azure-nspkg
azure-storage-blob==12.19.0
certifi
cffi
chardet
Click
cryptography==42.0.7
Flask==3.0.2
Flask-Login
Flask-Session
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
idna
itsdangerous==2.1.2
Jinja2==3.1.3
Mako
MarkupSafe
msal
pip
pycparser
pyodbc==5.1.0
pyopenssl
python-dateutil
python-editor
requests
setuptools==65.7.0
six
SQLAlchemy==2.0.25
urllib3
Werkzeug==3.0.1
WTForms
